<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUGpQ4qA7BuGkwZpwfeeKJLzp5s_jBqew</string>
	<key>GCM_SENDER_ID</key>
	<string>804267451748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AhmadKahla.loyalty</string>
	<key>PROJECT_ID</key>
	<string>loyalty-sense-bd63a</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-sense-bd63a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804267451748:ios:23016a0783b0685bc34671</string>
</dict>
</plist>